body {
  background-color: #212529 !important;
  color: #fff !important;
}

#header-logo {
  width: 100px;
}

#title-image {
  width: 100px;
  aspect-ratio: 1/1;
}

.card {
  border: none;
  -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
  transition: 0.3s;
}

.card-body {
  background-color: #000000;
}

.opaque {
  opacity: 50%;
}

.opaque-mid {
  opacity: 75%;
}

.card:hover .opaque {
  opacity: 1;
}

.card.on-hover:hover {
  transform: scale(1.02);
}

.card-image-top {
  width: 100%;
  height: 600px;
  overflow: hidden;
}

.card-image-top img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#poster {
  -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}

input,
textarea {
  background-color: #212529 !important;
  color: gray !important;
  border: none !important;
}

input::placeholder,
textarea::placeholder {
  color: gray !important;
}


/* LOADING ANIMATION */
.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #FFF;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* HIDE INPUT NUMBER SCROLLERS */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}